@import "tailwindcss";

@theme {
  --color-primary: #030412;
  --color-midnight: #06091f;
  --color-navy: #161a31;
  --color-indigo: #1f1e39;
  --color-storm: #282b4b;
  --color-aqua: #33c2cc;
  --color-mint: #57db96;
  --color-royal: #5c33cc;
  --color-lavender: #7a57db;
  --color-fuchsia: #ca2f8c;
  --color-orange: #cc6033;
  --color-sand: #d6995c;
  --color-coral: #ea4884;
  --animate-orbit: orbit 50s linear infinite;
  --animate-marquee: marquee 50s linear infinite;
  --animate-marquee-vertical: marquee-vertical 50s linear infinite;

  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #030412;
  font-family: "Funnel Display", sans-serif;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.c-space {
  @apply px-5 sm:px-10 lg:px-15;
}

.hover-animation {
  @apply duration-200 hover:-translate-y-1;
}

.section-spacing {
  @apply mt-20 min-h-screen md:mt-30;
}

.text-heading {
  @apply text-3xl font-bold md:text-4xl;
}

.headtext {
  @apply mt-2 mb-2 text-xl;
}

.subtext {
  @apply text-sm text-pretty text-neutral-400 md:text-base;
}

/* Navigation */
.nav-ul {
  @apply relative z-20 flex flex-col items-center gap-4 sm:flex-row md:gap-6;
}

.nav-li {
  @apply py-2 text-neutral-400 hover:text-white max-sm:w-full max-sm:rounded-md max-sm:px-5;
}

.nav-link {
  @apply text-lg transition-colors hover:text-white md:text-base;
}
/* Button Components */
.btn {
  @apply bg-primary relative w-[12rem] cursor-pointer overflow-hidden rounded-full px-1 py-4 text-center text-sm font-extralight;
}

/* About Section */
.grid-1 {
  @apply relative row-span-2 h-[15rem] overflow-hidden duration-200  md:col-span-3 md:h-full;
}
.grid-2 {
  @apply relative row-span-1 h-[15rem] overflow-hidden duration-200  md:col-span-3 md:h-full;
}
.grid-3 {
  @apply relative row-span-1 h-[15rem] overflow-hidden duration-200  md:col-span-3 md:h-full;
}
.grid-4 {
  @apply relative row-span-1 h-[15rem] overflow-hidden duration-200  md:col-span-2 md:h-full;
}
.grid-5 {
  @apply relative row-span-1 h-[15rem] overflow-hidden duration-200  md:col-span-4 md:h-full;
}

.grid-default-color {
  @apply from-storm to-indigo rounded-2xl bg-gradient-to-b p-6;
}

.grid-special-color {
  @apply from-royal to-lavender rounded-2xl bg-gradient-to-b p-6;
}
.grid-black-color {
  @apply rounded-2xl bg-gradient-to-tl from-[#3A3A3A] via-[#242424] to-[#3A3A3A] p-6;
}

/* Contact Section*/
.field-label {
  @apply text-sm leading-none font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
}

.field-input {
  @apply mt-2 min-h-10 w-full rounded-md border border-white/10 bg-white/10 px-3 py-2 text-sm placeholder-neutral-500 transition duration-200;
}

.field-input-focus {
  @apply focus-visible:ring-2 focus-visible:ring-white/20 focus-visible:outline-none;
}
